.header {
  /* display: flex; */
  justify-content: space-between;
  /* align-items: center; */

  background-color: antiquewhite;
  margin: 10px;
  padding: 0 20px;
  border-radius: 10px;
}

.header ul {
  display: flex;
  margin: 20px;
}

ul li {
  margin: 10px;
  list-style: none;
  text-decoration: none;
}
